mixin modal(data)
  .modal&attributes(attributes)
    form.form.needs-validation(action="#", method="POST", novalidate)
      h3.font-weight-bold Новый участник
      .row
        .col-lg-6
          .form-group.form__item
            label.form__item-header Фамилия
            input.input.form-control(type="text", required)
            .invalid-feedback Неправильный формат ввода
          .form-group.form__item
            label.form__item-header Имя
            input.input.form-control(type="text", required)
            .invalid-feedback Неправильный формат ввода
          .form-group.form__item
            label.form__item-header Отчество
            input.input.form-control(type="text", required)
            .invalid-feedback Неправильный формат ввода
          .form-group.form__item
            label.form__item-header Вариант участия
            .select
              select.select__input
                option(disabled, selected) Выберите вариант
                option 2 дня 13-14 мая
                option 3 дня 13-15 мая
        .col-lg-6
          .form-group.form__item
            label.form__item-header Вариант участия
            .select
              select.select__input
                option(disabled, selected) Выберите тип занятости
                option Тип 1
                option Тип 2
          .form-group.form__item
            label.form__item-header Отрасль
            .select
              select.select__input
                option(disabled, selected) Выберите отрасль
                option Отрасль 1
                option Отрасль 2
          .form-group.form__item
            label.form__item-header Уровень занимаемой должности
            .select
              select.select__input
                option(disabled, selected) Выберите
                option Уровень 1
                option Уровень 2
          button.btn.btn-primary.w-100.modal__form-btn(type="submit") Добавить
