.modal {
  background: #2d2f36;
  display: none;
  max-width: 830px;
  overflow: visible !important;
  padding: 23px 30px 36px;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }
}

.modal__form-btn {
  margin-top: 33px;
}
