h1,
.h1 {
  color: #fff;
  font-family: $font-family-serif;
  font-size: 60px;
  line-height: 1.08;

  @include media-breakpoint-down(lg) {
    font-size: 50px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 36px;
  }
}

h2,
.h2 {
  color: #fff;
  font-family: $font-family-sans-serif;
  font-size: 40px;
  line-height: 1.3;

  @include media-breakpoint-down(lg) {
    font-size: 36px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 24px;
  }
}

h3,
.h3 {
  color: #fff;
  font-family: $font-family-sans-serif;
  font-size: 24px;
  line-height: 1.75;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

h4,
.h4 {
  color: #fff;
  font-family: $font-family-sans-serif;
  font-size: 20px;
  line-height: 1.35;
}

p,
.p {
  color: #fff;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 1.69;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

.font-weight-medium {
  font-weight: 500;
}

input {
  &:focus {
    outline: none;
  }
}

textarea {
  &:focus {
    outline: none;
  }
}

button {
  border: 0;
  cursor: pointer;
  padding: 0;

  &:focus {
    outline: none;
  }
}
