body {
  background: url('../img/bg.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  position: relative;
}
