/* Bootstrap */

.btn {
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 39.5px;

  &:focus {
    border-color: transparent;
    box-shadow: none;
    outline: none;
  }

  &.btn-primary {
    color: #fff;
  }

  &.btn-outline-secondary {
    font-family: $font-family-serif;
    font-weight: 400;
  }
}

.text-gray {
  color: rgba(#fff, 0.2);
}

.text-gray-light {
  color: $gray-light;
}

.form-control {
  &:focus {
    border-color: transparent;
  }
}

.invalid-feedback {
  position: absolute;
  right: 0;
  text-align: right;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background: transparent;
}

/* Fancybox */

.fancybox-close-small {
  @include transition;
  background: $primary url('../img/close.svg') no-repeat center;
  height: 32px;
  width: 32px;

  svg {
    display: none;
  }
}

/* Select2 */

.select2-container {
  width: 100% !important;

  &--default {
    .select2-selection--single {
      background: transparent;
      border: 1px solid #8d8e93;
      border-radius: 0;

      .select2-selection__rendered {
        align-items: center;
        background: transparent;
        color: rgba(#fff, 0.5);
        display: flex;
        font-size: 16px;
        height: 50px !important;
        padding-left: 20px;
        padding-right: 40px;
      }

      .select2-selection__arrow {
        background: transparent url('../img/arrow-down.svg') center center no-repeat;
        background-size: 13px 8px;
        height: 50px;
        right: 20px;
        width: 13px;
      }

      .select2-selection__arrow b {
        display: none;
      }
    }
  }

  &--open {
    .select2-selection--single {
      .select2-selection__arrow {
        transform: rotate(180deg);
      }
    }
  }

  .select2-selection {
    &:focus {
      outline: none;
    }

    &--single {
      align-items: center;
      display: flex;
      height: 50px;
    }

    &__rendered {
      width: 100%;
    }
  }
}

.select2-dropdown {
  border-color: $gray-light;
  border-radius: 0 !important;
  box-shadow: none;
}

.select2-results__option {
  align-items: center;
  background: #161820;
  color: #fff;
  display: flex;
  font-size: 13px;
  height: 40px;
  line-height: 15px;
  padding: 3px 16px;

  & + & {
    border-top: 1px solid #26282c;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: rgb(38, 40, 44);
}
