.steps {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 24px;
  justify-content: space-between;
  max-width: 648px;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  z-index: 1;
}

.steps__item {
  background: #2d2f36;
  //    height: 24px;
  //    border-radius: 50%;
  height: 4px;
  position: relative;
  width: 50%; //    width: 24px;
}

.steps__item:first-child {
  width: 0;
}

.steps__item::before {
  background: #2d2f36;
  border-radius: 50%;
  content: '';
  display: block;
  height: 24px;
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  z-index: -1;
}

.steps__item--active {
  background: $primary;
}

.steps__item--active::after {
  background: $primary;
  border-radius: 50%;
  content: '';
  display: block;
  height: 12px;
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  z-index: 1;
}
