
include ../blocks/front/front.pug
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/footer/footer.pug
include ../blocks/form/form.pug
include ../blocks/registration/registration.pug
include ../blocks/input/input.pug
include ../blocks/steps/steps.pug
include ../blocks/select/select.pug
include ../blocks/menu/menu.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/modal/modal.pug
include ../blocks/event/event.pug
include ../blocks/article/article.pug
include ../blocks/divider/divider.pug
include ../blocks/back/back.pug
include ../blocks/wrapper/wrapper.pug