.input {
  @include transition;
  background: transparent;
  border: 1px solid $gray-light;
  border-radius: 0;
  color: #fff;
  height: 50px;
}

.input:focus {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
