.article {
  display: flex;
  padding: 45px 0;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.article__back {
  margin-right: 60px;
  margin-top: 15px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
    margin-right: 0;
    margin-top: 0;
  }
}

.article__content {
  h1 {
    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }
  }

  h3 {
    margin-bottom: 33px;

    @include media-breakpoint-down(sm) {
      line-height: 1.3;
    }
  }

  p {
    margin-bottom: 27px;
  }

  .btn {
    max-width: 322px;
    width: 100%;
  }
}

.article__picture {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin: 75px 0;

  @include media-breakpoint-down(sm) {
    margin: 30px 0;
  }
}

.article__img {
  max-width: 100%;
}
