.divider {
  &::after {
    background: linear-gradient(90deg, #c00 0%, rgba(204, 0, 0, 0.1) 100%);
    content: '';
    display: block;
    height: 5px;
    margin-top: 10px;
    max-width: 370px;
    width: 100%;
  }
}
