mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__wrapper
        .footer__year @ 2020
        .footer__text По вопросам покупки, оплаты билетов и регистрации обращайтесь по адресу phdays10@ruvents.com или телефону: 
          a(href="tel:+7 (495) 950-56-51") +7 (495) 950-56-51 
          | доб.103. Время работы: 
          a(href="#") Пн-Пт, с 10:00 до 19:00
        
