.footer {
  background: rgba(#161820, 0.8);
  border-top: 1px solid rgba(#c1c1c1, 0.4);
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

.footer__wrapper {
  align-items: baseline;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(lg) {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

.footer__year {
  color: #fff;
  flex-shrink: 0;
  font-size: 13px;
  line-height: 23px;
  margin-right: 20px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.footer__text {
  color: #fff;
  font-size: 12px;
  line-height: 23px;

  @include media-breakpoint-down(lg) {
    max-width: 600px;
  }

  a {
    color: #fff;
    font-weight: 700;
  }
}

.footer--main {
  background: transparent;
}
