extends ../templates/template.pug
block content
  .wrapper
    +header({
      modifier: 'menu'
    })
    .container
      .article
        +back.article__back
        .article__content
          h1 Заголовок для конкурса в пару строк для наглядности отображения
          .article__picture
            img.article__img(src="./img/article-1.jpg", alt)
          h3 «Команда QIWI планирует построить одну из крупнейших в России Customer Data Platform и делать интереснейшие вещи с использованием Artificial Intelligence, Machine Learning и других крутых штук»
          p Собеседником Сергея выступит автор YouTube-канала «Русские Норм!» Елизавета Осетинская. Всего за год она провела серию видео интервью более чем с 30 успешными российскими предпринимателями. Елизавета – профессиональный журналист, медиа-менеджер с 20-летним опытом работы. Она была главным редактором Forbes Россия.
          p В вечернем интервью Сергей расскажет, что стало причиной его кругосветного путешествия, какие бизнес-задачи он ставил перед собой в дороге, для чего нужно было бежать марафон, и как осуществлялось удалённое управление компанией из-за границы.
          a.btn.btn-primary.mt-20(href="#") Подать заявку
  +footer
