extends ../templates/template.pug
block content
  .wrapper
    +header({
      modifier: 'menu'
    })
    .container
      .cabinet
        h1.mb-30.mb-lg-45 Здравствуйте, Виктория!
        .row
          .col-lg-7.col-xl-8
            h2.divider.mb-20 Должанских <br>Виктория Александровна
            .cabinet__occupation
              .cabinet__occupation-item Удаленная работа
              .cabinet__occupation-item Угольная промышленность
              .cabinet__occupation-item Программист
            a.cabinet__link(href="#") sample@sample.com
            a.cabinet__edit(href="#modal", data-fancybox) Редактировать профиль
          .col-lg-5.col-xl-4
            form.form.cabinet__payment(action="#", method="POST")
              .cabinet__payment-overall
                h4.cabinet__payment-overall-header Оплата участия
                .cabinet__payment-overall-price
                  .cabinet__payment-overall-price-new 15 600 р.
              .cabinet__payment-item
                .cabinet__payment-item-header Вариант участия:
                .cabinet__payment-item-content
                  .select.select-no-border
                    select.select__input
                      option(disabled, selected) 2 дня 13-14 мая
                      option 2 дня 13-14 мая
                      option 3 дня 13-15 мая
              .cabinet__payment-item
                .cabinet__payment-item-header Промокод:
                .cabinet__payment-item-content
                  .cabinet__promocode
                    input.input.cabinet__promocode-input.form-control(type="text")
                    button.cabinet__promocode-btn(type="submit")
              button.btn.btn-primary.w-100.mt-25(type="submit") Оплатить
        form.cabinet__participants(action="#", method="POST")
          .cabinet__participants-top
            h3.cabinet__participants-top-header Дополнительные участники
            a.cabinet__participants-add(href="#") Добавить участника
          .cabinet__participant
            .cabinet__participant-info
              h4.mb-0 Мариухов Виктор Валентинович
              .cabinet__occupation.cabinet__occupation--participant
                .cabinet__occupation-item Удаленная работа
                .cabinet__occupation-item Угольная промышленность
                .cabinet__occupation-item Программист
            .cabinet__participant-payment
              .cabinet__participant-payment-info
                .cabinet__participant-payment-price
                  h4.cabinet__participant-payment-price-new 16 600 р.
                .cabinet__participant-payment-days.text-gray 2 дня
              .cabinet__participant-promo
                .cabinet__promocode
                  input.input.cabinet__promocode-input.form-control(type="text", placeholder="Промокод")
                  button.cabinet__promocode-btn(type="submit")
              button.btn.btn-primary.cabinet__participant-pay(type="submit") Оплатить
              a.cabinet__participant-remove(href="#")
          .cabinet__participant
            .cabinet__participant-info
              h4.mb-0 Каримов Валентин Натанович
              .cabinet__occupation.cabinet__occupation--participant
                .cabinet__occupation-item Удаленная работа
                .cabinet__occupation-item Угольная промышленность
                .cabinet__occupation-item Программист
            .cabinet__participant-payment
              .cabinet__participant-payment-info
                .cabinet__participant-payment-price
                  .cabinet__participant-payment-price-old 16 600 р.
                  h4.cabinet__participant-payment-price-new 7 300 р.
                .cabinet__participant-payment-days 1 день 14.05
              .cabinet__participant-promo
                .cabinet__promocode
                  .cabinet__promo-succeed Промокод применен
              .cabinet__participants-paid
                .cabinet__payment-done.cabinet__participant-payment-done.mt-0
                  .cabinet__payment-done-header Оплачено
                  a.cabinet__payment-download(href="#") Скачать билет
          .cabinet__participants-bottom
            h4.mb-0 7 участников
            .cabinet__participants-bottom-right
              h4.mr-sm-20.mb-20.mb-sm-0 156 600 р.
              button.btn.btn-primary.cabinet__participants-pay(type="submit") Оплатить все
  +footer
  +modal#modal
