extends ../templates/template.pug
block content
  .wrapper
    +header({
      modifier: 'menu'
    })
    .cabinet
      .container
        h1.mb-30.mb-lg-45 Здравствуйте, Виктория!
        .row
          .col-lg-7.col-xl-8
            h2.divider.mb-25 Должанских <br>Виктория Александровна
            .cabinet__occupation
              .cabinet__occupation-item Удаленная работа
              .cabinet__occupation-item Угольная промышленность
              .cabinet__occupation-item Программист
            a.cabinet__link(href="#") sample@sample.com
            a.cabinet__edit(href="#modal", data-fancybox) Редактировать профиль
          .col-lg-5.col-xl-4
            form.form.cabinet__payment(action="#", method="POST")
              .cabinet__payment-overall
                h4.cabinet__payment-overall-header Оплата участия
                .cabinet__payment-overall-price
                  .cabinet__payment-overall-price-old.text-gray 16 600 р.
                  h4.cabinet__payment-overall-price-new 7 600 р.
              .cabinet__payment-item
                .cabinet__payment-item-header Вариант участия:
                .cabinet__payment-item-content 
                  p.mb-0.text-gray-light 2 дня 13-14 мая
              .cabinet__payment-item
                .cabinet__payment-item-header Промокод:
                .cabinet__payment-item-content
                  .cabinet__promo-succeed Промокод применен
              .cabinet__payment-done
                .cabinet__payment-done-header Оплачено
                a.cabinet__payment-download(href="#") Скачать билет
        form.cabinet__participants(action="#", method="POST")
          .cabinet__participants-top
            h3.cabinet__participants-top-header Дополнительные участники
            a.cabinet__participants-add(href="#") Добавить участника
          .cabinet__participants-bottom
            h4.text-gray.mb-0 Нет дополнительных участников
            .cabinet__participants-bottom-right
              h4.text-gray.mr-md-20.mb-0  0 р.
              button.btn.btn-primary.cabinet__participants-btn(type="submit", disabled) Оплатить все
  +footer
  +modal#modal
