extends ../templates/template.pug
block content
  .wrapper
    +header({
      modifier: 'menu'
    })
    .container.py-40
      h1.mb-30.mb-xl-55 Конкурсы
      .row
        .col-sm-6.col-lg-4.d-flex
          +event({
            picture: 'event-1.jpg',
          })
        .col-sm-6.col-lg-4.d-flex
          +event({
            picture: 'event-2.jpg',
          })
        .col-sm-6.col-lg-4.d-flex
          +event({
            picture: 'event-3.jpg',
          })
        .col-sm-6.col-lg-4.d-flex
          +event({
            picture: 'event-4.jpg',
          })
        .col-sm-6.col-lg-4.d-flex
          +event({
            picture: 'event-5.jpg',
          })
        .col-sm-6.col-lg-4.d-flex
          +event({
            picture: 'event-6.jpg',
          })
      .d-flex.justify-content-center.mt-5
        a.btn.btn-outline-secondary(href="#") Показать еще 6
  +footer
