extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="registration-email.html", style="font-size: 20px;") Registration Email
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="registration-confirmation.html", style="font-size: 20px;") Registration Confirmation
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="registration.html", style="font-size: 20px;") Registration
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="login.html", style="font-size: 20px;") Login
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="cabinet.html", style="font-size: 20px;") Cabinet
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="cabinet-full.html", style="font-size: 20px;") Cabinet Full
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="events.html", style="font-size: 20px;") Events
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="article.html", style="font-size: 20px;") Article
