extends ../templates/template.pug
block content
  .wrapper
    +header
    .wrapper__content
      .container
        h1.divider.mb-20 Вход в личный кабинет
        h3.mb-30 Введите Ваши данные для авторизации на сайте
        form.form.needs-validation(action="#", method="POST" novalidate)
          .row
            .col-sm-6.col-xl-4
              .form-group.form__item
                label.form__item-header Логин
                input.input.form-control(type="text", required)
                .invalid-feedback Неправильный формат ввода
            .col-sm-6.col-xl-4
              .form-group.form__item
                label.form__item-header Пароль
                input.input.form-control(type="password", required)
                .invalid-feedback Неправильный формат ввода
          .row
            .col-sm-6.col-xl-3
              button.btn.btn-primary.w-100(type="submit") Отправить
            .col-sm-6.col-xl-5.d-flex.align-items-center
              a.form__link.ml-xl-30(href="#") Забыли пароль?
          h3.mt-40.mb-15 Еще нет аккаунта?
          a.btn.btn-outline-secondary(href="registration.html") Зарегистрироваться
  +footer
