extends ../templates/template.pug
block content
  .wrapper.wrapper--main
    +header
    .front
      .container
        .row
          .col-xl-10
            h1.divider.mb-20.mb-lg-45 Зарегистрируйте личный кабинет, чтобы купить билет на PHDays10
        .row
          .col-xl-4
            h3.mb-40.mb-lg-85 Это займет всего лишь 5 минут Вашего времени
        a.btn.btn-primary.front__btn(href="#") Регистрация
  +footer.footer--main
