extends ../templates/template.pug
block content
  .wrapper
    +header
    .container
      .registration
        .registration__top
          +back
          .steps
            .steps__item.steps__item--active
            .steps__item.steps__item--active
            .steps__item
        form.form.needs-validation(action="#", method="POST" novalidate)
          .row
            .col-sm-6.col-xl-4
              .form-group.form__item
                label.form__item-header Фамилия
                input.input.form-control(type="text", required)
                .invalid-feedback Неправильный формат ввода
            .col-sm-6.col-xl-4
              .form-group.form__item
                label.form__item-header Имя
                input.input.form-control(type="text", required)
                .invalid-feedback Неправильный формат ввода
            .col-sm-6.col-xl-4
              .form-group.form__item
                label.form__item-header Отчество
                input.input.form-control(type="text", required)
                .invalid-feedback Неправильный формат ввода
          .row
            .col-sm-6.col-xl-4
              .form-group.form__item
                label.form__item-header Выберите тип занятости
                .select
                  select.select__input
                    option(disabled, selected) Выберите тип
                    option Тип 1
                    option Тип 2
                    option Тип 3
                    option Тип 4
            .col-sm-6.col-xl-4
              .form-group.form__item
                label.form__item-header Отрасль
                .select
                  select.select__input
                    option(disabled, selected) Выберите отрасль
                    option Отрасль 1
                    option Отрасль 2
            .col-sm-6.col-xl-4
              .form-group.form__item
                label.form__item-header Уровень занимаемой должности
                .select
                  select.select__input
                    option(disabled, selected) Выберите
                    option Уровень 1
                    option Уровень 2
          .row
            .col-sm-6.col-xl-4
              .form-group.form__item
                label.form__item-header Пароль
                input.input.form-control(type="password", required)
                .invalid-feedback Неправильный формат ввода
            .col-sm-6.col-xl-4
              .form-group.form__item
                label.form__item-header Подтвердите пароль
                input.input.form-control(type="password", required)
                .invalid-feedback Неправильный формат ввода
          button.btn.btn-primary.mt-10(type="submit") Сохранить
          .registration__dscr
            p Нажимая «Сохранить», я подтверждаю принятие условий Пользовательского соглашения и Политики конфиденциальности, которые описывают, как мои персональные данные собираются и используются.
            p Обратите внимание: давая согласие на сканирование бейджа, вы подтверждаете, что Positive Technologies, а также партнёры и спонсоры конференции могут использовать ваши персональные данные в порядке, предусмотренном Политикой конфиденциальности, размещенной по адресу: https://www.phdays.com/ru/privacy-policy/.
            p На Positive Hack Days 10 будут вестись видеозапись и фотосъемка. Присутствуя на мероприятии, вы разрешаете компании Positive Technologies и ее уполномоченным партнерам записывать и использовать фото- и видеоматериалы конференции по их усмотрению. Видеозапись и ваши фотографии могут быть опубликованы на любой платформе, без ограничений по времени и территории. Если вы не согласны с указанными условиями, пожалуйста, воздержитесь от посещения конференции.
            p Приобретая билет на мероприятие, я подтверждаю, что не являюсь представителем СМИ. Представители СМИ допускаются исключительно по предварительной аккредитации. Использование профессиональных средств аудио- и видеотехники, кино- и фотосъемки на мероприятии возможно только при наличии специального разрешения от организаторов.
  +footer
