extends ../templates/template.pug
block content
  .wrapper
    +header
    .container
      .registration
        .registration__top
          +back
          .steps
            .steps__item.steps__item--active
            .steps__item
            .steps__item
        h3.mb-20 Мы отправили вам письмо со ссылкой для подтверждения вашего электронного адреса. <br>Перейдите по ней, чтобы продолжить регистрацию.
        p Ссылка активна в течение 30 минут. <br>Если письмо со ссылкой для подтверждения не пришло, проверьте папку спам.
  +footer
