extends ../templates/template.pug
block content
  .wrapper
    +header
    .container
      .registration
        .registration__top
          +back
          .steps
            .steps__item.steps__item--active
            .steps__item
            .steps__item
        form.form(action="#", method="POST")
          .row
            .col-sm-6
              .form-group.form__item.mb-0
                label.form__item-header Введите Ваш e-mail
                input.input.form-control(type="text")
            .col-sm-6.d-flex.align-items-end.mt-20.mt-sm-0
              button.btn.btn-primary(type="submit") Отправить
  +footer
