mixin event(data)
  .event&attributes(attributes)
    .event__picture(style="background-image: url(./img/" + data.picture + ');')
    .event__content
      h4.event__title.mb-0 Описание конкурса в пару строк для наглядности отображения...
      h4.event__title.event__title--full.mb-20 Описание конкурса в пару строк для наглядности отображения продолжение описание с кнопкой подробнее
      .event__hidden
        a.btn.btn-primary.w-100.mt-20(href="#") Подробнее
