.event {
  background: #1b1e27;
  margin-bottom: 30px;
  position: relative;
}

.event:hover {
  .event__picture {
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .event__content {
    height: 100%;
  }

  .event__title {
    display: none;
  }

  .event__title--full {
    display: block;
  }

  .event__hidden {
    opacity: 1;
    position: static;
    z-index: auto;
  }
}

.event__picture {
  @include transition;
  background-position: center;
  background-size: cover;
  padding-top: 59%;
}

.event__content {
  @include transition;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  position: relative;
  z-index: 1;
}

.event__title--full {
  display: none;
}

.event__hidden {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
