.front {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 50px 0;
}

.front__btn {
  max-width: 270px;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;
}
