.cabinet {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 45px 0;
}

.cabinet__occupation {
  align-items: center;
  display: flex;

  @include media-breakpoint-down(sm) {
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
  }
}

.cabinet__occupation--participant {
  .cabinet__occupation-item {
    color: #8d8e93;
    font-size: 13px;
    line-height: 23px;
  }

  .cabinet__occupation-item + .cabinet__occupation-item {
    margin-left: 9px;
  }

  .cabinet__occupation-item + .cabinet__occupation-item::before {
    margin-right: 9px;
  }
}

.cabinet__occupation-item {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 16px;
  line-height: 27px;

  @include media-breakpoint-down(sm) {
    border-left: 1px solid $gray-light;
    padding-left: 15px;
  }
}

.cabinet__occupation-item + .cabinet__occupation-item {
  margin-left: 15px;

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-top: 10px;
  }
}

.cabinet__occupation-item + .cabinet__occupation-item::before {
  background: $gray-light;
  content: '';
  display: block;
  height: 16px;
  margin-right: 15px;
  width: 1px;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.cabinet__link {
  @include transition;
  color: #5e80c6;
  display: block;
  margin-top: 10px;
}

.cabinet__link:hover {
  color: #5e80c6;
  text-decoration: underline;
}

.cabinet__edit {
  @include transition;
  align-items: center;
  color: #5e80c6;
  display: flex;
  margin-top: 40px;
}

.cabinet__edit::before {
  background: url('../img/edit.svg') no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 16px;
  margin-right: 18px;
  width: 16px;
}

.cabinet__edit:hover {
  color: #5e80c6;
  text-decoration: underline;
}

.cabinet__payment {
  background: #1b1e27;
  padding: 25px 30px 30px;

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }
}

.cabinet__payment-overall {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.cabinet__payment-overall-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 0;

  @include media-breakpoint-down(sm) {
    margin-bottom: 5px;
  }
}

.cabinet__payment-overall-price {
  align-items: center;
  display: flex;
}

.cabinet__payment-overall-price-old {
  margin-right: 12px;
  text-decoration: line-through;
}

.cabinet__payment-overall-price-new {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
}

.cabinet__payment-item {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  @include media-breakpoint-down(sm) {
    justify-content: space-between;
  }
}

.cabinet__payment-item + .cabinet__payment-item {
  margin-top: 10px;
}

.cabinet__payment-item-header {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin-right: 18px;
}

.cabinet__payment-item-content {
  align-items: center;
  background: #161820;
  display: flex;
  height: 50px;
  justify-content: center;
  max-width: 196px;
  width: 100%;

  @include media-breakpoint-down(sm) {
    flex-shrink: 0;
  }
}

.cabinet__promo-succeed {
  color: $success;
  font-size: 12px;
  line-height: 14px;
}

.cabinet__promocode {
  align-items: center;
  background: #161820;
  display: flex;
  height: 50px;
  justify-content: center;
  max-width: 196px;
}

.cabinet__promocode-input {
  @include placeholder(rgba(#fff, 0.2));
  border: 0;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  padding-left: 16px;
}

.cabinet__promocode-btn {
  background: $primary url('../img/check.svg') no-repeat center;
  flex-shrink: 0;
  height: 50px;
  width: 50px;
}

.cabinet__payment-done {
  align-items: center;
  background: #161820;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 24px;
}

.cabinet__payment-done-header {
  color: $gray-light;
  font-size: 14px;
}

.cabinet__payment-download {
  @include transition;
  color: $primary;
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
  text-decoration: underline;
}

.cabinet__payment-download:hover {
  color: $primary;
  text-decoration: none;
}

.cabinet__participants {
  background: #1b1e27;
  margin-top: 35px;
}

.cabinet__participants-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.cabinet__participants-top-header {
  color: $gray-light;
  margin-bottom: 0;

  @include media-breakpoint-down(sm) {
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
  }
}

.cabinet__participants-add {
  @include transition;
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 13px;
  line-height: 27px;
  text-transform: uppercase;
}

.cabinet__participants-add:hover {
  color: #fff;
}

.cabinet__participants-add::before {
  background: url('../img/plus.svg') no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 20px;
  margin-right: 14px;
  width: 20px;
}

.cabinet__participant {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 30px;

  @include media-breakpoint-down(lg) {
    align-items: center;
    flex-direction: column;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 20px 20px;
  }
}

.cabinet__participant-info {
  @include media-breakpoint-down(lg) {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    align-items: flex-start;
  }
}

.cabinet__participant-payment {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  @include media-breakpoint-down(lg) {
    justify-content: center;
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    //    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

.cabinet__participant-payment-info {
  margin-right: 15px;
  text-align: right;

  @include media-breakpoint-down(sm) {
    display: flex;
  }
}

.cabinet__participant-payment-price {
  align-items: center;
  display: flex;

  @include media-breakpoint-down(sm) {
    flex-flow: row wrap;
    margin-right: 20px;
  }
}

.cabinet__participant-payment-price-new {
  color: #fff;
  font-weight: 700;
  margin-bottom: 2px;
}

.cabinet__participant-payment-price-old {
  color: rgba(#fff, 0.2);
  margin-right: 18px;
  text-decoration: line-through;

  @include media-breakpoint-down(sm) {
    margin-right: 10px;
  }
}

.cabinet__participant-payment-days {
  color: $gray-light;
  font-size: 16px;
  line-height: 27px;
}

.cabinet__participant-promo {
  flex-grow: 1;
  margin-right: 13px;
  max-width: 196px;

  @include media-breakpoint-down(xs) {
    margin: 20px 0;
  }
}

.cabinet__participant-pay {
  flex-grow: 1;
  max-width: 176px;
}

.cabinet__participant-remove {
  background: #2d2f36 url('../img/trash.svg') no-repeat center;
  display: block;
  height: 50px;
  margin-left: 8px;
  width: 56px;
}

.cabinet__participants-paid {
  flex-grow: 1;
  max-width: 240px;
}

.cabinet__participants-bottom {
  align-items: center;
  border-top: 1px solid rgba(#c1c1c1, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 35px 25px 40px;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    text-align: center;
  }
}

.cabinet__participants-bottom-right {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  @include media-breakpoint-down(md) {
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.cabinet__participants-btn {
  max-width: 309px;
  width: 100%;

  @include media-breakpoint-down(sm) {
    margin-top: 20px;
  }
}

.cabinet__participants-pay {
  max-width: 309px;
  width: 100vw;
}
