mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#") 
      span МЕНЮ
    .menu__content
      a.menu__item.menu__item--active(href="#") Профиль и билеты
      a.menu__item(href="#") Моя программа
      a.menu__item(href="#") Конкурсы
