.menu {
  display: flex;
  height: 100%;

  @include media-breakpoint-down(lg) {
    left: 0;
    position: absolute;
    top: 0;
  }
}

.menu__btn {
  color: #fff;
  display: none;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  @include media-breakpoint-down(lg) {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    width: 80px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 0;
    height: 60px;
    width: 60px;
  }

  span {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.menu__btn:active,
.menu__btn:hover {
  color: #fff;
}

.menu__btn::before {
  background: url('../img/menu.svg') no-repeat center;
  background-size: contain;
  content: '';
  display: none;
  height: 26px;
  margin-bottom: 12px;
  width: 35px;

  @include media-breakpoint-down(lg) {
    display: block;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}

.menu__btn--active::before {
  @include media-breakpoint-down(lg) {
    background: url('../img/close-menu.svg') no-repeat center;
  }
}

.menu__content {
  display: flex;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.menu__content--active {
  @include media-breakpoint-down(lg) {
    background: #1b1e27;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    left: 0;
    max-width: 350px;
    position: absolute;
    top: 80px;
    width: 100vw;
    z-index: 2;
  }

  @include media-breakpoint-down(sm) {
    max-width: 275px;
    top: 60px;
  }
}

.menu__item {
  align-items: center;
  color: $gray-light;
  display: flex;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 1.17;
  padding: 0 28px;
  text-transform: uppercase;

  @include media-breakpoint-down(lg) {
    border-bottom: 1px solid #161820;
    color: #fff;
    height: 43px;
  }
}

.menu__item:hover {
  color: #fff;
}

.menu__item--active {
  background: #161820;
  color: #fff;
  font-weight: 700;

  @include media-breakpoint-down(lg) {
    background: transparent;
  }
}

.menu__item--active::before {
  @include media-breakpoint-down(lg) {
    background: linear-gradient(90deg, #c00 0%, rgba(204, 0, 0, 0.0001) 100%);
    content: '';
    display: block;
    height: 5px;
    margin-right: 10px;
    width: 40px;
  }
}

.menu__item--active:hover {
  color: #fff;
}
