.registration {
  padding-bottom: 75px;
  padding-top: 75px;
}

.registration__top {
  align-items: center;
  display: flex;
  margin-bottom: 60px;

  .steps {
    margin-left: 60px;

    @include media-breakpoint-down(sm) {
      margin-left: 20px;
    }
  }
}

.registration__dscr {
  margin-top: 40px;
  max-width: 950px;

  p {
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    margin-bottom: 17px;
  }
}
