.select {
  position: relative;
  width: 100%;
}

.select__input {
  background: transparent !important;
  width: 100%;
}

.select-no-border {
  .select2-selection--single {
    border: 0 !important;
  }

  .select2-dropdown {
    border: 0 !important;
  }
}
