.wrapper {
  background: rgba(#161820, 0.8);
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  padding-top: 85px;

  @include media-breakpoint-down(lg) {
    padding-top: 80px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 60px;
  }
}

.wrapper__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 40px 0;
}

.wrapper--main {
  background: transparent;
}
