mixin header(data)
  .header&attributes(attributes)
    +logo.header__logo
    if data && data.modifier == 'menu'
      .container
        +menu
    .header__right
      a.header__language(href="#") En
      a.header__cabinet(href="#") 
        span Профиль
