.header {
  background: #1c1e27;
  display: flex;
  height: 85px;
  left: 0;
  padding: 0 150px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  @include media-breakpoint-down(lg) {
    height: 80px;
  }

  @include media-breakpoint-down(sm) {
    height: 60px;
  }
}

.header__logo {
  display: block;
  left: 17px;
  max-width: 102px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include media-breakpoint-down(lg) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header__right {
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.header__language {
  @include transition;
  align-items: center;
  background: #161820;
  color: $gray-light;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  letter-spacing: 2px;
  margin-right: 20px;
  text-transform: uppercase;
  width: 40px;
}

.header__language:hover {
  background: #1b1e27;
  color: #fff;
}

.header__cabinet {
  @include transition;
  align-items: center;
  background: $primary;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 100%;
  justify-content: center;
  line-height: 1.17;
  text-transform: uppercase;
  width: 85px;

  @include media-breakpoint-down(lg) {
    width: 80px;
  }

  @include media-breakpoint-down(sm) {
    width: 60px;
  }

  span {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.header__cabinet:hover {
  background: #db2833;
  color: #fff;
}

.header__cabinet::before {
  background: url('../img/profile.svg') no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 29px;
  margin-bottom: 13px;
  width: 26px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}
