.form__item {
  margin-bottom: 25px;
  position: relative;
}

.form__item-header {
  color: $gray-light;
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 10px;
}

.form__link {
  @include transition;

  @include media-breakpoint-down(xs) {
    margin-top: 20px;
  }

  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}
