.back {
  background: url('../img/arrow-back.svg') no-repeat left 13px center;
  border: 1px solid $gray-light;
  display: block;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
}

.back:hover {
  background: #8d8e93 url('../img/arrow-back--dark.svg') no-repeat left 13px center;
}
